

.imageContainer {
    margin-left:36%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: rgb(6, 0, 13);
 }
 .caption{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .p10 {
    position: absolute;
    top: 80px;
    left: 182px;
 }
 .p11 {
    position: absolute;
    top: 80px;
    left: 286px;
 }
 .p12 {
    position: absolute;
    top: 80px;
    left: 390px;
 }
 .p13 {
    position: absolute;
    top: 80px;
    left: 494px;
 }
 .p14 {
    position: absolute;
    top: 80px;
    left: 598px;
 }
 .p15 {
    position: absolute;
    top: 80px;
    left: 702px; 
 }
 .p1s {
    position: absolute;
    bottom: 250px;
    left: 78px;
 }
 .p20 {
    position: absolute;
    bottom: 83px;
    left: 182px;
 }
 .p21 {
    position: absolute;
    bottom: 83px;
    left: 286px;
 }
 .p22 {
    position: absolute;
    bottom: 83px;
    left: 390px;
 }
 .p23 {
    position: absolute;
    bottom: 83px;
    left: 494px;
 }
 .p24 {
    position: absolute;
    bottom: 83px;
    left: 598px;
 }
 .p25 {
    position: absolute;
    bottom: 83px;
    left: 702px;
 }
 .p2s {
    position: absolute;
    bottom: 250px;
    left: 803px;
 }
 .current {
   position: absolute;
   bottom: 250px;
   left: 308px;
}
.column {
   float: left;
 }
 
 .left {
   width: 35%;
   display: grid
 }
 
 .right {
   width: 10%;
 }
 button {
   background-color: #db7e2d; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
 }